.container-dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-dashboard span{
    margin: 2em 0;
    font-weight: 600;
    font-size: 1.2em;
}
.container-dashboard-btn{
    float:right;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(79, 190, 79);
    font-weight: bold;
    padding: 15px;
    color: white;
    margin-bottom: 30px;
}
.container-dashboard-btn:hover{
    transform:scale(1.1);
    transition: .3s;
}
table{
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}
table caption{
    font-size: 1.5em;
    margin: .5em 0 .75;

}
table tr{
    background-color: white;
    border: 1px solid white;
    padding: .35em;
}
table th, table td{
    padding: .62em;
    text-align: center;
}
table th{
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}
table td .action{
    border: 0;
    padding: 5px; 
    margin-right: 2px;
    align-items: center;
    display: inline-block;
    border-radius: 4px;
}
.badge{
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    border: none;
    color: white;
    font-weight: bold;
}
.btn-more{
    padding: 20px;
    background-color: rgb(6, 177, 6);
    font-weight: bold;
    border: 0;
    border-radius: 7px;
    color: white;
    margin-top: 30px;
}
.btn-more:hover{
    transform:scale(1.1);
    transition: .3s;
}
span{
    padding: 10px;
    border-radius: 7px;
}
@media screen and (max-width: 600px){
    table{
        border: 0;
    }
    table caption{
        font-size: 1.3em;
    }
    table thead{
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr{
        border-bottom: 3px solid white;
        display: block;
        margin-bottom: .65em;
    }
    table td{
        border-bottom: 1px solid white;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    table td::before{
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
}
