.container{
    display: flex;
    flex-direction: column;
}
.container-form{
    display: flex;
    flex-direction: column;
    width: 75%;
}
.container-title{
    font-size: 25px;
}
.container-input{
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(236, 234, 234);
}
.login-button{
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: rgba(201, 201, 201, 0.603);
    font-weight: bold;
}
.logout-btn{
    margin-top: 30px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: grey;
    width: 75%;
    color: black;
    font-weight: bold;
    font-size: 15px;
}